name: AI PR Review

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  ai-pr-review:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: AI PR Review
      uses: sam253narula/ai-pr-reviewer@v0.0.4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        perplexity_api_key: ${{ secrets.PERPLEXITY_API_KEY }}
